{% extends 'base.html' %}

{% block heading %}
<p class="title has-text-centered">
    Welcome to the sentiment analyzer!
</p>
<div class="is-size-5">
    <p class="has-text-centered">
    <p>
        Enter a website on the form:
        <br>
    <p>
        https://google.com
    </p>
    <p>
        &
    </p>
    <p>
        Submit
    </p>
    </p>
</div>
{% endblock %}

{% block main %}



<div class="columns">
    <div class="column is-offset-2 is-8">
        <form action="{{ url_for('results.results_page') }}" method="POST">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input type="text" name="url" class="input is-large" placeholder="http://google.com">
                </div>
                <div class="control">
                    <button class="button is-dark is-large">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}