{% extends 'base.html' %}

{% block heading %}
<p class="title has-text-centered">
    Enter a webpage url for Analysis
</p>


{% endblock %}

{% block main %}



<div class="columns">
    <div class="column is-offset-2 is-8">
        <form action="{{ url_for('results.results_page') }}" method="POST">
            <div class="field has-addons">
                <div class="control is-expanded">
                    <input type="text" name="url" class="input" placeholder="http://google.com">
                </div>
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}