<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Analyzer</title>
    {% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>

    <!-- Add favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon255.ico') }}">

    {% endblock %}
</head>

<body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a href="/" class="navbar-item">Sentalizer</a>
            </div>
        </div>
    </nav>

    <section class="hero is-light is-fullheight-with-navbar">
        <div class="hero-head">
            <div class="container">
                {% block heading %}{% endblock %}

                <!-- user message can go in the section -->

            </div>
        </div>

        <div class="hero-body">
            <div class="container">

                {% block content %}{% endblock %}
            </div>
        </div>

</body>

</html>